/* Menu burger --------------------------------------------------- */

.contain-burger {
    display: flex;
    display:none;
    align-items: center;
    height: 50px;
  
    cursor: pointer;
  }
  
  .burger-nav {
    position: relative;
    height: 3px;
    width: 35px;
  
    background-color: #000;
  
    border-radius: 3px;
  
    cursor: pointer;
  }
  
  .burger-nav::before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 35px;
  
    background-color: #000;
  
    border-radius: 3px;
  }
  
  .burger-nav::after{
    content: '';
    position: absolute;
    top: -12px;
    left: 0;
    display: inline-block;
    height: 3px;
    width: 35px;
  
    background-color: #000;
  
    border-radius: 3px;
  }


/* Navigation secondaire------------------------------------------- */

.nav-secondaire{
    background-color: rgb(53, 48, 48);
    height:40px;
    font-size:15px;
    
}

.nav-secondaire ul{
    display:flex;
    justify-content: right;
}

.nav-secondaire li{
    display:flex;
    list-style: none;
}

li, i{
 cursor: pointer;   
}

.nav-secondaire a{
    text-decoration: none;
    margin: 15px 10px 0 30px;
    color:white;
}

#service {
    margin-right: auto;
}

#shop{
    margin-right:50px;
    padding-top:10px;
}

/* Header ------------------------------------------------------------ */

.header{
    height:140px;
    font-size:20px;
    background-color:white;
    display:flex;
    justify-content:space-between;
}

#logo{
    width: 20%;
    height:150px;
    cursor: pointer;
}

#map{
    margin-top:25px;
    margin-right:10px;
    width: 9%;
    height:80px;
}

#search{
    width:10px;
    position:absolute;
    top:0px;
    right:-10px;
    bottom:5px;
    background-color:rgb(226, 226, 112);
    padding:13px;
    border-radius: 10px;
}

.search{
    background-color:rgb(235, 227, 227);
    margin-top:50px;
    width:50%;
    height: 30px;
    border-radius: 10px 0 0 0px;
    position:relative;
}

.search input{
    width:100%;
    height:30px;
    background-color:rgb(211, 197, 197);
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 10px;
    color:white;
     
    
}



/* Navigation principal------------------------------------------------ */

.nav-principal{
    background-color:rgb(200, 231, 208);
    height:50px;
    margin-bottom:30px;
    
}

.nav-principal ul {
    display:flex;
    justify-content:center;
    align-content: center;
}

.nav-principal li {
    list-style: none;
    margin:15px 40px 0 40px;
}

.nav-principal a {
    text-decoration: none;
    color:black;
    font-size: 18px;
}

.nav-principal .active {
    text-decoration:underline;
    background-color:rgb(177, 206, 96);
    padding:15px;
}

a:hover {
    background-color:rgb(177, 206, 96);
    
}



/* Media Queries---------------------------------------------------------- */

@media screen and (max-width: 920px) {
    /* nav-secondaire ---------------*/

    .nav-secondaire{
        height:45px;
    }
    .nav-secondaire a {
        display:none;
    }

    i {
        margin:10px 15px 0px 15px;
    }

    /* header -------------------------*/
    #logo {
        width:30%;
        transform:translate(20px, -55px);
    }

    #map {
        display:none;
    }


    .header {
        flex-direction: column;
        height:33px;
        margin-bottom:20px;
    }

    .search {
        width : 97%;
        bottom:110px;
        margin-top:44px;
        border: 1px solid;
    }

    

    /* nav-principal --------------------*/

    .nav-principal {
        display : none;

    }

    /* burger menu */
    .contain-burger{
        display: block;
        position:absolute;
        top:20px;
    }


    
}
