<header>
    <!-- Menu burger -->
    <div class="contain-burger" (click)="toggleShow()">
        <div class="burger-nav "></div>
    </div>
    <!-- Menu burger -->

    <nav class="nav-secondaire">
        <ul>
            <li id="service">
                <a href="#">Comment ça marche ?</a>  
            </li>
            <li>
                <a routerLink="authenticate" >Se connecter</a>
                <i routerLink="authenticate" class="fa-solid fa-circle-user fa-2x"></i>
            </li>
            
                <li (click)="logout()">
                    <a>Déconnexion</a>
                    <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                </li>
                     
                <li>
                    <a routerLink="panier">Panier</a>
                    <i routerLink="panier" class="fa-solid fa-basket-shopping fa-2x"></i>
                </li>
            
        </ul>
    </nav>
    <div class="header" >
        <img id="logo" [src]="logo" alt="logo" routerLink="">
        <form #researchForm="ngForm" method="post" (ngSubmit)="onResearchSubmit(researchForm.value)" class="search" >
            <input type="text" name="research" placeholder="Taper votre recherche" ngModel >
            <!-- <div *ngFor="let product of products" [product]="product">
                <img [src]=product.imageFileName [alt]=product.title>
            </div> -->
            <a routerLink="recherche/:research"><img id="search" [src]="search" alt="search" ></a>
        </form>
       
        <img id="map" [src]="map" alt="carte">
    </div>

    <nav class="nav-principal">

        <ul>
            <li>
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            </li>
            <li>
                <a routerLink="produits" routerLinkActive="active">Produits</a>
            </li>
            
            <li>
                <a routerLink="promotion" routerLinkActive="active" >Nouveautés</a>
            </li>
            <li>
                <a routerLink="contact" routerLinkActive="active">Contactez-nous</a>
            </li>
        </ul>

    </nav>

</header>