<header>
    <nav class="nav-secondaire">
        <ul>
            <li id="service">
                <a href="#">Comment ça marche ?</a>  
            </li>
            <li *ngIf="!userEmail; else elseBlock">
                <a routerLink="authenticate" >Se connecter</a>
                <i routerLink="authenticate" class="fa-solid fa-circle-user fa-2x"></i>
            </li>
            <ng-template #elseBlock>
                <p>{{userEmail}}</p>
                <li>
                    <a>Déconnexion</a>
                    <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                </li>
            </ng-template>          
                <li>
                    <a routerLink="panier">Panier</a>
                    <i routerLink="panier" class="fa-solid fa-basket-shopping fa-2x"></i>
                </li>
            
        </ul>
    </nav>
    <div class="header">
        <img id="logo" [src]="logo" alt="logo" routerLink="">
        <div class="search">
            <input type="text" placeholder="Taper votre recherche">
            <a href="#"><img id="search" [src]="search" alt="search" ></a>
        </div>
       
        <img id="carte" [src]="map" alt="carte">
    </div>
    <nav class="nav-principal">
        <ul>
            <li>
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            </li>
            <li>
                <a routerLink="produits" routerLinkActive="active">Produits</a>
            </li>
            
            <li>
                <a routerLink="promotion" routerLinkActive="active" >Promotions</a>
            </li>
            <li>
                <a routerLink="about" routerLinkActive="active">Qui sommes-nous?</a>
            </li>
        </ul>
       


    </nav>
</header>