<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Condition générales de ventes</a></li>
                    <li><a href="#">Mention légales</a></li>
                    <li><a href="#">Politique relatives aux cookies</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">Qui sommes nous?</a></li>
                    <li><a href="#">Nos services</a></li>
                    <li><a href="#">Nos producteurs</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a routerLink="contact" >Contact</a></li>
                    <li><a href="#">Vous êtes producteur</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contactez nous</h4>
                <p>105 Rue de la République <br> 59000  Lille</p>
        <a href=""><p>Contact@contact.fr</p></a>
        <p>06 09 08 70 58</p>
            </div>
            <div class="footer-col">
                <h4>Suivez nous</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>