<footer>

    <div class="footer-principal">
        <div class="footer-content-1">
            <ul>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Condition générales de ventes</a></li>
                <li><a href="#">Mention légales</a></li>
                <li><a href="#">Politique relatives aux cookies</a></li>
            </ul>
        </div>
        <div class="footer-content-2">
            <ul>
                <li><a href="#">Qui sommes nous?</a></li>
                <li><a href="#">Nos services</a></li>
                <li><a href="#">Nos producteurs</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Vous êtes producteur</a></li>
            </ul>
        </div>
        <div class="footer-content-3">
            <p>105 Rue de la République <br> 59000  Lille</p>
            <a href=""><p>Contact@contact.fr</p></a>
            <p>06 09 08 70 58</p>
        </div>
    </div>

    <div class="footer-secondaire">
        <div><p>@Copyright</p></div>
        <div>
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
       <div>
           <a href=""><i class="fa-brands fa-cc-stripe"></i></a>
            
       </div>

    </div>


</footer>
