.footer{
    margin-top:50px;
}

.footer-principal{
    height:130px;
    background-color:rgb(200, 231, 208);

    padding:20px 20px;
    
}

.footer-content-3 {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.footer-secondaire {
    height:25px;
    background-color:rgb(147, 186, 156);

    padding-top:6px;
}

.footer-principal, .footer-secondaire {
    display:flex;
    justify-content:space-between;
    
}
.footer-principal a {
     text-decoration:none;
    color:black;
    font-size: 16px;  
}


li{
    list-style:none;
    padding-bottom:5px;
    padding-top:10px;
}

i {
    width: 30px;
    color:black;
    font-size:20px;

}


@media screen and (max-width: 920px) {


    .footer-principal {
        height:350px;
        display:flex;
        flex-direction:column;
        text-align:center;

    }





}
