.services{
    background-color: rgb(193, 167, 167);
    height:250px;
    margin-top :50px;
    padding-top:50px;
    display: flex;
}

.services img {
    width: 130px;
    
}

.services p {
    margin-top:10px;
    text-align: center;
    width:80%;
}

.services-content{
    text-align: center;
    
}
@media screen and (max-width: 920px) { 

    .services{  display: flex;
    flex-direction:column-reverse;
    justify-content:space-around;
    height: 400px;
    width: 350px;
    margin-bottom:10px
    
 }
    .services p{font-size:10px;
        margin-left: 10px ; 
    }
        .services img {
            width:50px
        }
    
    
} 