<section class="services">
    <div class="services-content"> 
        <img [src]="bag" [alt]="bag">
        <p>Cliquez! Ajoutez! Commander! Quoi de plus simple pour commander vos produits</p>
    </div>
    <div class="services-content"> 
        <img [src]="delivery" [alt]="delivery">
        <p>Commander chez-nous vous assure un service de qualité et une livraison dans les plus bref délais</p>
    </div>
    <div class="services-content"> 
        <img [src]="world" [alt]="world">
        <p>Favoriser le circuit-court contribue à la réduction du taux de gaz à effet de serre sur notre jolie planète</p>
    </div>
    <div class="services-content"> 
        <img [src]="farmer" [alt]="farmer">
        <p>La solidarité vis à vis de nos producteurs locaux est un geste avant tout citoyens</p>
    </div>
</section>
