<section class="services">
    <div class="services-content"> 
        <img [src]="bag" [alt]="bag">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.</p>
    </div>
    <div class="services-content"> 
        <img [src]="delivery" [alt]="delivery">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.</p>
    </div>
    <div class="services-content"> 
        <img [src]="world" [alt]="world">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.</p>
    </div>
    <div class="services-content"> 
        <img [src]="farmer" [alt]="farmer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quaerat.</p>
    </div>
</section>
