 <div class="content">
        <div class="product">
            <a routerlink=""><img [src]="product.imageFileName" [alt]=product.title></a> 
            <a [routerLink]="['/produits', product.id]"><img (click)="onShowProduct()" src="./assets/logo_icon/infos.svg" alt=""></a>
            <h2 class="product-title">{{ product.title }}</h2>
            <p class="product-price">{{ product.price }}€</p> 
            <button class="btn-buy">Ajouter <i class="fa-solid fa-cart-arrow-down"></i></button>
        </div>
    </div>


