<!-- FILE ARIANE------------------------------------------------ -->
<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li><a routerLink="">Accueil</a></li>
        <li><a routerLink="/produits">Catalogue</a></li>
        <li><span aria-current="page">Nom du produit</span></li>
    </ul>
</nav>

<!-- FILE ARIANE------------------------------------------------ -->

<main class="main">

    <div class="content">
        <div class="content-card">
            <img src="./assets/photos/produit_2.jpg" alt="">
            <h1>Clémentine d'Espagne</h1>
            <p>3,50€</p>
        </div>
        <div class="content-description">
            <h2>Description:</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, soluta voluptatibus. Corporis harum, facilis fugit voluptas quod ipsam perferendis laboriosam.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, soluta voluptatibus. Corporis harum, facilis fugit voluptas quod ipsam perferendis laboriosam.</p>
        </div>
    </div>

    <div class="btn">
        <button (click)="onBackTo()"><i class="fa-solid fa-arrow-left"></i> Retour </button>
        <button>Ajouter <i class="fa-solid fa-cart-arrow-down"></i></button>

    </div>

</main>