<!-- FILE ARIANE------------------------------------------------ -->
<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li><a routerLink="">Accueil</a></li>
        <li><a routerLink="/produits">Catalogue</a></li>
        <li><span aria-current="page">{{productById.title}}</span></li> 
    </ul><!--A VERIFIER --> 
</nav>

<!-- FILE ARIANE------------------------------------------------ -->

<main class="main">

    <div class="content" *ngIf="productById">
        <div class="content-card">
            <img [src]=productById.imageFileName alt=""productById.title>
            <h1>{{productById.title}}</h1>
            <p>{{productById.price}}€</p>
        </div>
        <div class="content-description">
            <h2>Description:</h2>
            <p>{{productById.content}}</p>
            
        </div>
    </div>

    <div class="btn">
        <button (click)="onBackTo()"><i class="fa-solid fa-arrow-left"></i> Retour </button>
        <button>Ajouter <i class="fa-solid fa-cart-arrow-down"></i></button>

    </div>

</main>