/* Fil d'ariana ------------------------------------------------------- */

/* .breadcrumb ul {
    display: flex;
}
    
.breadcrumb li::before {
    content: "→";
}
    
.breadcrumb li:first-child::before {
    content: "";
} */

/* Fil d'ariana ------------------------------------------------------- */


.error-message {
    width:80%;
    height:50px;
    margin:auto;
    border: 1px solid red;
    display:none;
}

.main {
    background-color: rgba(89, 126, 85, 0.4);
    margin:auto;
    margin-top:50px;
    width:100%;
    height:580px;
    display:flex;
    justify-content:center;
    /* border: 1px solid; */
    box-shadow: 0px -3px 2px rgb(138, 132, 211);
    
}

.form-1, .form-2 {
    border: 1px solid;
    margin:40px;
    background-color:rgba(241, 250, 241, 0.2);
    
}

.title{
    display: flex;

}

.title img{
    width:40px;
}

.title span{
    text-transform: uppercase;
    font-weight: bold;
}

h2{
    margin: 10px 10px 20px 10px;
    font-size:25px;
    
    /* border:1px solid; */
}

form{
    margin: 10px 10px 20px 10px;
}

form div {
    display: flex;
    justify-content:right;
    margin-bottom:13px;
}

label {
    margin-right: 6px;
}
input {
    border:1px solid;
    padding:2px;
    border-radius: 5px;
    
}

.button input {
    background-color:rgb(226, 226, 112);
    text-transform:uppercase;
    font-weight:bold;
    margin-top:10px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    
}

.button {
     display: flex;
    flex-direction: column;
}

