<!-- Fil d'ariane ----------------------------------------------------------- -->

<!-- <nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Category</a></li>
        <li><a href="">Sub-Category</a></li>
        <li><span aria-current="page">Product</span></li>
    </ul>
</nav> -->
<!-- Fil d'ariane ----------------------------------------------------------- -->





<main class="main">
    
    <div class="form-1">
        <div *ngIf="subscribeMessage" class="error-message">{{subscribeMessage}}</div>
        <div class="title">
            <i class="fa-solid fa-plus fa-3x"></i>
            <h2>
                Pas encore de compte?<br> <span>Inscrivez-vous</span>
            </h2>
        </div>
       
        <form #registerForm="ngForm" method="post" (ngSubmit)="onSubmit(registerForm.value)">
            <div>
                <label for="username">Nom*</label>
                <input type="text" name="username" id="surname" placeholder="Nom" ngModel required>
            </div>
            <div>
                <label for="userfirstname">Prénom*</label>
                <input type="text" name="userfirstname" id="name" placeholder="Prénom" ngModel>
            </div>
            <div>
                <label for="address">Adresse*</label>
                <input type="text" name="address" id="address" placeholder="Adresse" ngModel>
            </div>
            <div>
                <label for="postalcode">Code Postal*</label>
                <input type="text" name="postalcode" id="postalcode" placeholder="Code postal" ngModel>
            </div>
            <div>
                <label for="city">Ville*</label>
                <input type="text" name="city" id="city" placeholder="Ville" ngModel>
            </div>
            <div>
                <label for="email">Adresse Mail*</label>
                <input type="email" name="email" id="email" placeholder="Adresse mail" ngModel>
            </div>
            <div>
                <label for="password">Mot de passe*</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" ngModel>
            </div>
            <div>
                <label for="confirm_password">Confirmation*</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmer votre mot de passe" ngModel>
            </div>

            <div class="button"> 
                <input type="submit" value="Créer un compte">
            </div>
            
        </form>
    </div>

    <div id="icon_content">
        <img [src]="icon">
    </div>

    <div *ngIf="session === false; else elseBlock"class="form-2">
        <div *ngIf="loginMessage" class="error-message">{{loginMessage}}</div>
        <div class="title">
            <i class="fa-solid fa-arrow-right fa-3x"></i>
            <h2>
                Déjà inscrit?<br> <span>Identifiez-vous</span>
            </h2>
        </div>
        
        <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm.value)">

            <div>
                <label for="email">Adresse Mail*</label>
                <input type="email" name="email" id="email" placeholder="Adresse mail" ngModel>
            </div>
            <div>
                <label for="password">Mot de passe*</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" ngModel>
            </div>

            
            <div class="button"> 
                <input type="submit" value="Connexion">
            </div>

        </form> 
    </div>
    <ng-template #elseBlock>Bienvenue {{session.user.username}} {{session.user.userfirstname}}</ng-template>
</main>
