
<form #contactForm="ngForm" (ngSubmit)="onSubmitContact(contactForm.value)">

    <h1 class="title">Contactez-nous</h1>

    <div class="separation"></div>

    <div class="body-form">
        <div class="left">
            <div class="box">
                <label for="username">Votre Prénom:</label>
                <input type="text" name="username" ngModel id="username">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="box">
                <label for="email">Votre Adresse e-mail:</label>

                <input type="text" name="email"ngModel id="email">
                

                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="box">
                <label for="phone">Votre Téléphone:</label>
                <input type="text" name="phone" ngModel id="phone">
                <i class="fa-solid fa-mobile"></i>
            </div>
        </div>

        <div class="right">
            <div class="box">
                <label for="message">Votre Message</label>
                <textarea name="message" placeholder="Saisissez ici..." ngModel id="message"></textarea>
            </div>
        </div>
    </div>

    <div class="foot_form" align="center">
        <input type="submit" value="Envoyer le message">   
    </div>

</form>





