<!-- FILE ARIANE------------------------------------------------------------------------------------- -->
<div class="title">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
            <li><a routerLink="">Accueil</a></li>
            <li><span aria-current="page">Nouveautés</span></li>
        </ul>
    </nav>
</div>

<!-- Chil component nav-------------------------------------------------------------------------- -->

<app-nav-page-products ></app-nav-page-products>


<!-- Title de la page + Bouton Add/Update/Delete -------------------------------------------------------->
<div class="title-principal">
    <h1 id="title">Nouveautés</h1>
    <button *ngIf="$user_role === 'ROLE_ADMIN'" (click)="onAddProduct()">Ajouter produit<i class="fa-solid fa-plus"></i></button>

    <button *ngIf="$user_role === 'ROLE_ADMIN'" (click)="onUpdateProduct()">Modifier produit<i class="fa-solid fa-pen-to-square"></i></button >
    <button *ngIf="$user_role === 'ROLE_ADMIN'" (click)="onDeleteProduct()">Supprimer produit<i class="fa-solid fa-trash-can"></i></button>
</div>



<main class="main">
    <section class="new-product">
    
    <div class="card">
  
      <app-card-newproducts
        *ngFor="let product of newProducts"
        [product]="product"
      ></app-card-newproducts>
  
    </div>
  </section>
    <!-- <div class="number-of-page">
        <i class="fa-solid fa-angles-left"></i>
        <p>Pages</p>
        <i class="fa-solid fa-angles-right"></i>
    </div> -->
    

</main>
