<app-nav-page-products ></app-nav-page-products>
<!-- Chil component nav-------------------------------------------------------------------------- -->

<div class="title">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
            <li><a routerLink="">Accueil</a></li>
            <li><span aria-current="page">Catalogue</span></li>
        </ul>
    </nav>
    
<!-- FILE ARIANE------------------------------------------------------------------------------------- -->

    <button (click)="onAddProduct()">Ajouter produit</button><i class="fa-solid fa-plus"></i>
    <button (click)="onUpdateProduct()">Modifier produit</button ><i class="fa-solid fa-pen-to-square"></i>
    <button (click)="onDeleteProduct()">Supprimer produit</button><i class="fa-solid fa-trash-can"></i> 
</div>

<!-- Child Component list products------------------------------------------------------------------- -->
<main class="main">
    <app-list-page-products *ngFor="let product of products" [product]="product"></app-list-page-products>
    <!-- <div class="number-of-page">
        <i class="fa-solid fa-angles-left"></i>
        <p>Pages</p>
        <i class="fa-solid fa-angles-right"></i>
    </div> -->
</main>

