

<div class="title">
    <h1>File d'ariane</h1>
    <button>Ajouter produit</button><img [src]="plus" alt="">
</div>

<main class="main">
    <div class="content">
        <div class="product">
            <img src="./assets/photos/pâtes.jpg" alt="">
            <h2 class="product-title">Pâtes aux blé complet</h2>
            <p class="product-price">8€</p>
            <div class="product-icon">
                <p>supprimer</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="product-icon">   
                <p>Modifier</p>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <button class="btn-buy">Acheter</button>
        </div>
        <div class="product">
            <img src="./assets/photos/pâtes.jpg" alt="">
            <h2 class="product-title">Pâtes aux blé complet</h2>
            <p class="product-price">8€</p>
            <div class="product-icon">
                <p>supprimer</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="product-icon">   
                <p>Modifier</p>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <button class="btn-buy">Acheter</button>
        </div>
        <div class="product">
            <img src="./assets/photos/pâtes.jpg" alt="">
            <h2 class="product-title">Pâtes aux blé complet</h2>
            <p class="product-price">8€</p>
            <div class="product-icon">
                <p>supprimer</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="product-icon">   
                <p>Modifier</p>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <button class="btn-buy">Acheter</button>
        </div>
        <div class="product">
            <img src="./assets/photos/pâtes.jpg" alt="">
            <h2 class="product-title">Pâtes aux blé complet</h2>
            <p class="product-price">8€</p>
            <div class="product-icon">
                <p>supprimer</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="product-icon">   
                <p>Modifier</p>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <button class="btn-buy">Acheter</button>
        </div>
        <div class="product">
            <img src="./assets/photos/pâtes.jpg" alt="">
            <h2 class="product-title">Pâtes aux blé complet</h2>
            <p class="product-price">8€</p>
            <div class="product-icon">
                <p>supprimer</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="product-icon">   
                <p>Modifier</p>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <button class="btn-buy">Acheter</button>
        </div>
        <div class="product">
            <img src="./assets/photos/pâtes.jpg" alt="">
            <h2 class="product-title">Pâtes aux blé complet</h2>
            <p class="product-price">8€</p>
            <div class="product-icon">
                <p>supprimer</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>
            <div class="product-icon">   
                <p>Modifier</p>
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <button class="btn-buy">Acheter</button>
        </div>
        
        
    </div>

    <div class="number-of-page">
        <i class="fa-solid fa-angles-left"></i>
        <p>Pages</p>
        <i class="fa-solid fa-angles-right"></i>
    </div>
    

</main>

