<main>
    <div class="title">Modifier un produit</div>
    <div class="separation"></div>
    <div class="form">
        <form action="#" method="post">
            <div class="form-content">
                <label for="category">Catégorie :</label>
                <select id="category" name="category">
                    <option value="viande"selected>Viandes</option>
                    <option value="Poissons">Poissons</option>
                    <option value="Fruits" >Fruits</option>
                    <option value="Légumes">Légumes</option>
                    <option value="Boissons">Boissons</option>
            </select><br>
            </div>
            <div class="form-content">
                <label for="name">Nom du produit :</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-content">
                <label for="Quantity">Quantité :</label>
                <input type="text" id="quantity" name="quantity">
            </div>
            <div class="form-content">
                <label for="price">Prix :</label>
                <input type="text" id="price" name="price">
            </div>
            <div class="form-content">
                <label for="image">Image :</label>
                <input type="file" id="image" name="image" class="file-image">
            </div>
            <div class="form-content">
                <label for="description">Description :</label>
                <textarea id="description" name="description" rows="4" cols="23"></textarea>
            </div>
            <input type="submit" value="Valider" id="btn">
        </form>
    </div>
</main>

