<main class="main">

    <h1>Conditions generales de ventes </h1>

    <h2>1 – Généralités</h2>
    <p>La société Dans Mazon édite et exploite un site internet à l’adresse www.dans-mazon.fr (ci-après le « Site ») dont l’objet est de proposer un service de « place de marché» (place de marché, ci-après « le Service ») et de mettre en relation des consommateurs et/ou professionnels (ci-après « Acheteurs ») inscrits sur le Site avec des Fournisseurs (ci-après « Vendeurs ») également inscrits sur le Site, afin de conclure un contrat dont l’objet est la vente de produits alimentaires frais, secs ou surgelés (ci-après les “Produits”) proposés à un prix ferme.
        
        Les présentes Conditions Générales de Vente (ci-après les « CGV») s’appliquent, dès lors qu’une commande est passée entre un Acheteur et un Vendeur sur le site www.manger-francais.com. Dans ce cadre, la société PERFECT COMMUNITY intervient uniquement en qualité d’éditeur du Site et d’intermédiaire entre l’Acheteur et le Vendeur. Elle est un tiers au contrat de vente qui se forme entre l’Acheteur et le Vendeur ; par conséquent, sa responsabilité ne pourra pas être engagée à ce titre.
        
        Les CGV sont opposables à l’Acheteur qui reconnaît, en cochant une case prévue à cet effet, en avoir eu connaissance et les avoir acceptées avant de passer commande. Les CGV sont directement consultables et téléchargeables sur le Site.
        
        Elles pourront faire l’objet de modifications à tout moment. Les CGV applicables à l’Acheteur demeurent celles en vigueur à la date de la commande.</p>

    
    
    
     
    <h2>2 – Modalités de commande et prix :</h2>
    <h3>2.1 Inscription sur le Site :</h3>
    <p>Pour passer une commande, l’Acheteur doit créer un compte client au moyen d’une adresse email valide et d’un mot de passe.
    
    Lors de la création de ce compte, l’Acheteur doit remplir un formulaire comportant des données personnelles à renseigner obligatoirement.
    
    L’Acheteur doit être majeur et avoir la capacité juridique de contracter. Toute commande de Produits d’un montant inférieur à 200 euros, passée par un mineur sera considérée comme un acte de la vie courante et réputée faite avec l’accord de ses représentants légaux.
    
    La vente de boissons alcoolisées est interdite aux mineurs. L’Acheteur déclare, sous sa seule responsabilité, être âgé de 18 ans révolus à la date de passation de la commande.
    
    A l’ouverture de ce compte, l’identifiant et le mot de passe sont définis par l’Acheteur, qui s’engage à les conserver secrets et à ne les divulguer à aucun tiers. L’Acheteur supportera dès lors seul toutes les conséquences qui pourraient résulter de leur utilisation par des tiers qui en auraient eu connaissance.</p>
    
    <h3>2.2 Conformité des produits et ou services :</h3>
    <p>– Description des produits
    
    Tout Produit proposé à la vente sur le Service par le Vendeur fait l’objet d’une description de ses caractéristiques essentielles, au sens de l’article L.111-1 du Code de la consommation, sur la page du Site consacrée au Produit (la « Fiche d’Information Produit»).
    
    Le Vendeur s’engage à n’offrir sur le Site que des Produits disponibles et à supprimer sans délai du Site toute offre qui n’est plus disponible. Dans l’éventualité d’une indisponibilité exceptionnelle de Produit après passation de la commande de l’Acheteur, le Vendeur en informera l’Acheteur et la commande, et le compte bancaire de l’Acheteur ne sera pas débité de ce Produit.
    
    La Fiche d’Information du Produit comprend à minima les éléments suivants :
    
    L’identité du Vendeur,
    La description et la photo du Produit,
    Le prix des Produits est indiqué toutes taxes comprises pour les Acheteurs particuliers, et hors taxes pour les Acheteurs professionnels, et s’entend hors frais de livraison.
    Les caractéristiques essentielles (taille, quantité, unité, poids, caractéristiques et la liste des ingrédients ou leur composition…).
    Une tolérance d’écart de poids de 5% maximum sera admise sur la quantité du produit livré.
    
    Les renseignements mentionnés sur chaque Fiche d’Information Produit sont ceux communiqués par les Vendeurs. L’Acheteur est informé que les photographies ne sont pas contractuelles et qu’il doit se reporter aux descriptifs des Produits avant de passer sa commande.
    
     
    
    – Etapes de la commande
    
    Pour passer une commande via le Service, l’Acheteur doit suivre la procédure de commande en ligne en respectant les étapes suivantes :
    
    sélectionner les Produits objets de la commande et les quantités souhaitées,
    sélectionner un jour de livraison et le délai qui ne courent qu’à compter de la confirmation de l’acceptation de la commande par le Vendeur,
    consulter le récapitulatif de la commande avec les frais de livraison associés,
    s’identifier,
    confirmer la commande et déclarer que les présentes CGV ont été mises à sa disposition et les accepter pleinement et sans réserve par un clic de validation,
    renseigner le mode de paiement et saisir, le cas échéant, ses informations bancaires,
    l’Acheteur reçoit alors un email de confirmation de l’enregistrement de sa commande.
    la commande est simultanément transmise au(x) Vendeur(s) qui doive(nt) confirmer ou infirmer la prise en charge de tout ou partie de la commande avant le lendemain midi (hors jours fériés, dimanche et jours de fermeture préalablement déclarés). En l’absence de confirmation de la commande, le contrat conclu entre l’Acheteur et le Vendeur est automatiquement annulé et chacune des parties est libérée de ses obligations.
    dès que le Vendeur confirme avoir pris en charge tout ou partie de la commande, un email est adressé à l’Acheteur pour confirmer la prise en compte.</p>
    
    <h3>2.3 Prix des Produits</h3>

    <p> Les prix des Produits mis en vente par le biais du Service ont été fixés librement par les Vendeurs, dans le respect des lois et règlements applicables.
    
    Le prix des Produits est indiqué en euros toutes taxes comprises pour les Acheteurs particuliers, et hors taxes pour les Acheteurs professionnels. Le montant des frais de livraison de chaque commande sera précisé à l’Acheteur et ajouté au montant des Produits avant la validation finale de la commande.
    
    Le prix indiqué sur la Fiche d’Information Produits est non négociable par l’Acheteur.
    
    Le prix de vente des Produits est celui en vigueur au jour de la commande.
    
    En cas de prix promotionnel, le Vendeur s’engage à appliquer le prix promotionnel à toute commande passée pendant la durée de la promotion.
    
    Le Vendeur se réserve le droit de modifier ses prix à tout moment, tout en garantissant à l’Acheteur l’application du prix en vigueur au moment de sa commande.</p>

    <h3>2.4 Frais de livraison</h3>

    <p>Sont considérés comme frais de livraison une participation au coût réel du transport calculée selon le montant de la commande réalisé chez le Vendeur.
    
    Les frais de livraison sont déterminés en fonction des modalités de livraison.
    
    Les frais de livraison s’entendent par Vendeur, ainsi si vous avez 3 Vendeurs différent dans une même commande globale les frais de livraison seront additionnés.
    
    Les frais de livraison pour un particulier sur une commande de produits secs, frais ou surgelés chez un Vendeur sont propre à chaque Vendeur.
    
    Les montants s’entendent en TTC, ils seront proposés HT pour les Acheteurs professionnels</p>

    <h3>2.5 Paiement</h3>

    <p>Le prix est payable comptant, en totalité au moment de la validation de la commande par le biais d’un des modes de paiement en ligne sécurisés.
    
    Il est composé du prix d’achat des Produits, ainsi que des frais de livraison ajoutés avant la validation de la commande suivant le barème précisé dans l’article “Frais de livraison”.
    
    En cas de paiement par carte bancaire, le Site est doté d’un système de sécurisation des paiements en ligne permettant au consommateur de brouiller et de crypter la transmission de ses données bancaires.
    
    Le débit du montant est différé à l’acceptation de la commande par le(s) Vendeur(s).
    Le Site débitera le montant de la commande, composé du prix du ou des Produits et des frais de livraison, pour le compte des Vendeurs, dès l’acceptation de la commande par le(s) Vendeur(s) et se chargera de reverser les sommes dûes à chaque Vendeur.</p>
    
    <h3>2.5 Moyens de paiement</h3>

    <p>Le paiement peut s’effectuer par carte bancaire : Stripe</p>
    
    <h3>2.6 Sécurisation</h3>

    <p>Le Site fait l’objet d’un système de sécurisation : Perfect Community a adopté le procédé de cryptage SSL mais a aussi renforcé l’ensemble des procédés de brouillage et de cryptage pour protéger le plus efficacement possible toutes les données sensibles liées aux moyens de paiement utilisées sur le Site.</p>

    <h3>2.7 Défaut de paiement</h3>

    <p>En cas de défaut de paiement, Perfect Community se réserve le droit d’interrompre de manière temporaire ou définitive l’accès au Service à l’Acheteur concerné.</p>

    <h2>3 – DROIT DE RETRACTATION</h2>

    <h3>3.1 Périmètre</h3>

    <p>L’Acheteur dispose d’un délai de rétractation de 14 jours calendaires à compter de la date d’achat du Produit ou de la date de livraison des Produits alimentaires secs pour exercer son droit de rétractation, sans avoir à justifier de motifs, ni à payer de pénalités, à l’exception le cas échéant des frais de retour.
    
    Conformément à l’article L 121-21-8 du code de la consommation, l’Acheteur ne peut pas se rétracter lorsque le Produit est :
    
    Un bien susceptible de se détériorer ou de se périmer rapidement (les produits alimentaires frais).
    Une boisson alcoolisée dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend de fluctuation sur le marché échappant au contrôle du professionnel.</p>
    
    <h3> 3.2 L´exercice du droit de rétractation :</h3>

    <p>L’Acheteur exerce son droit de rétractation directement auprès du Vendeur concerné depuis son compte client à l’aide :
    
    – du formulaire type de rétractation fourni par le Vendeur lors de leurs échanges via l’outil de messagerie mis à disposition dans le cadre du Service (ou directement ici)
    
    – ou par tout moyen et notamment sur son interface Client, en sélectionnant le motif droit de rétractation, et mentionnant la commande concernée par cette rétractation à l’aide de l’outil de messagerie mis à sa disposition dans le cadre du Service.
    
    Une fois le formulaire ou la déclaration de rétractation envoyée au Vendeur, l’Acheteur doit renvoyer le ou les Produits concernés au Vendeur dans un délai raisonnable et, au plus tard, dans les 14 jours suivant la communication au Vendeur de la décision de l’Acheteur de se rétracter.
    
    L’Acheteur renvoie le ou les Produits à l’adresse indiquée par le Vendeur à l’aide de l’outil de messagerie mis à disposition dans le cadre du Service.
    
    Les retours sont à effectuer dans leur état d’origine et complets dans un conditionnement identique à celui utilisé lors de l’expédition permettant leur recommercialisation.
    
    Les retours doivent également être accompagnés d’un justificatif d’achat d’une copie de la facture ou du bon de livraison d’achat pour une gestion optimisée.</p>


    <h3>3.3 L’effet du droit de rétractation :</h3>

    <p>En cas d’exercice du droit de rétractation, seul le prix du ou des Produits objets de la rétractation ainsi que les frais de livraison seront remboursés par le Vendeur. Les frais de livraison ne seront pas remboursés si un Acheteur conserve une partie des Produits achetés auprès du même Vendeur. Ils seront remboursés partiellement en cas de rétractation partielle de la commande.
    
    A titre exceptionnel, et dans l’hypothèse où le Vendeur n’aurait pas procédé à ce remboursement, dans les 14 jours à compter de la date à laquelle le droit a été exercé par l’Acheteur, Perfect Community procédera au remboursement des sommes versées y compris les frais de livraison, au plus tard dans les 14 jours à compter de la date à laquelle le droit a été exercé auprès du Vendeur et que Perfect Community en aura été informé, selon le même moyen de paiement que celui utilisé pour la commande. Cette date de remboursement pouvant être différée jusqu’à récupération du Produit, ou jusqu’à ce que l’Acheteur ait fourni simultanément au Vendeur et à Perfect Community une preuve de l’expédition du Produit, la date retenue étant celle du premier de ces faits.</p>


    <h2>4 – Livraison</h2>


    <h3>4.1 Adresse de livraison</h3>

    <p>Les Produits vendus via le Service peuvent uniquement être expédiés à des adresses de livraison se situant dans la Zone de Livraison acceptée lors de la passation de commande. A défaut, la Commande ne pourra être livrée au Client et le Contrat ne pourra pas être formé.
    
    Il est de la seule responsabilité de l’Acheteur de s’assurer que les informations qu’il communique à Perfect Community à cet effet sont et demeurent correctes et qu’elles lui permettront de recevoir les Produits qu’il achète sur le Site.
    
    Les Produits sont expédiés par le Vendeur à l’adresse indiquée lors de la commande. Le transport sera exécuté par un prestataire désigné par Perfect Community en sa qualité de mandataire du ou des Vendeurs
    
    Dans le cas où l’adresse indiquée est erronée ou incomplète, Perfect Community sera en droit de réclamer le paiement de nouveaux frais de livraison.
    
    La responsabilité de Perfect Community et/ou des Vendeurs ne pourra être engagée en cas de défaut de livraison du Produit dû à une erreur dans l’adresse de livraison que vous avez communiquée.</p>

    <h3>4.2 Délais de livraison</h3>

    <p> Le(s) Vendeur(s) s’engage(nt) à traiter les Commandes dans un délai de 1 jour ouvré suivant la date de confirmation de commande.
    
    La livraison sera effectuée en fonction de l’option de livraison choisie par l’Acheteur et au plus tard dans un délai maximal de 30 jours à compter de la passation de commande.
    
    L’Acheteur peut dénoncer sans délai le contrat de vente lorsque le Vendeur refuse d’expédier le Produit. Dans ces circonstances, Perfect Community remboursera à l’Acheteur la totalité des sommes versées, au plus tard dans les 14 jours qui suivent la dénonciation du contrat. En cas de retard de livraison, l’Acheteur peut contacter le Service Client de Perfect Community dont les coordonnées sont indiquées ci-après.
    
    Le défaut total de livraison entraîne la résolution de plein droit du contrat de vente.</p>

    <h3>4.3 Livraison :</h3>

    <p>Lors de la livraison, les dommages ou spoliations doivent faire l’objet de la part de l’Acheteur de réserves écrites, précises, complètes, datées et signées sur le bordereau de livraison.
    
    La signature numérisée de l’Acheteur, ainsi que sa reproduction, font preuve de la livraison des colis et les parties reconnaissent à cette signature une valeur juridique identique à celle d’une signature traditionnelle sur papier.
    
    Tout objet mis en instance est remis au destinataire ou à son mandataire sur présentation d’une pièce d’identité
    
    La responsabilité du transporteur ou de Perfect Community ne pourra être engagée en cas de défaut de livraison du Produit dû à une erreur dans l’adresse de livraison communiquée.</p>

    <h3>4.4 Livraison de produits frais</h3>

    <p>L’Acheteur est informé du départ de son colis par l’envoi d’un email ou d’un SMS récapitulant les produits envoyés et l’informant du numéro de suivi du colis.
    
    L’Acheteur devra être présent pour la remise en main propre de sa commande.
    
    En cas d’absence au moment de la livraison, un avis de passage daté, qui atteste la présentation de l’envoi, est déposé par le transporteur. Il mentionne le lieu où l’envoi peut être retiré ou la possibilité d’une nouvelle présentation.
    
    En raison de la spécificité des produits frais qui sont des denrées périssables, la responsabilité du transporteur ou de Perfect Community ne pourra être engagée en cas d’absence de l’Acheteur aux heures et jours de livraison et/ou de relivraison.
    
    L’Acheteur est particulièrement informé que compte tenu du caractère périssable des produits frais, si l’Acheteur ne réceptionne pas son colis ou ne va pas chercher son colis, il ne sera procédé à aucun remboursement.
    
    Pour les produits frais, toute livraison refusée par l’Acheteur avant la date limite de consommation des produits entraine un refus d’indemnisation des colis par le transporteur.
    Le remboursement est donc dans ce cas à la libre appréciation du Vendeur.</p>


    <h2>5 – Responsabilité</h2>

    <p>Le Vendeur assume toute responsabilité relative aux Produits mis en vente sur la place de marché et aux réclamations afférentes.
    
    La responsabilité de Perfect Community et/ou du Vendeur ne pourra être engagée en cas d’inexécution ou de mauvaise exécution du contrat de vente dûe soit au fait de l’Acheteur, notamment mais non limitativement, en cas de mauvaise utilisation de la place de marché par l’Acheteur ou d’une faute de ce dernier, soit au fait imprévisible et insurmontable d’un tiers au contrat ou à un cas de force majeure telle que définie par la jurisprudence française.
    
    Perfect Community intervient seulement en qualité d’un intermédiaire afin de mettre en relation le Vendeur et l’Acheteur.
    
    Par conséquent, la responsabilité de Perfect Community ne saurait être engagée relativement à toute vente conclue entre le Vendeur et l’Acheteur par le biais du Service. Toute plainte relative aux commentaires figurant sur le descriptif des Produits ou aux livraisons des Produits sera redirigée vers le Vendeur désigné, qui assumera l’entière et seule responsabilité à ce titre.
    
    Ainsi, les Produits Frais achetés via le Service ne pourront être repris ni échangés par Perfect Community,
    
    En outre, Perfect Community ne saurait voir sa responsabilité engagée à raison des contenus rendus disponibles sur le Site par les Acheteurs ou les Vendeurs, notamment en ce qui concerne la description des Produits ou les appréciations que les Acheteurs font des Vendeurs, sauf si elle ne les rendait pas promptement inaccessibles après avoir été informée de leur illicéité dans les conditions prévues par cette loi.</p>

    <h2>6 – Réclamations</h2>  
    

    <h3>6.1 Réclamations relative au Produit :</h3>

    <p>A tout moment, l’Acheteur a la possibilité de contacter le Vendeur, d’adresser toute demande, réclamation relative aux Produits commandés en utilisant l’outil de messagerie mis à disposition dans le cadre du Service, notamment pour faire valoir ses garanties quand elles sont en cours.
    
    En sus de l’outil de messagerie, il est mis à la disposition un bouton dédié permettant à tout Acheteur de signaler dans son compte, dans un délai de 30 jours à compter de la date de débit de son compte pour les achats effectués auprès d’un Vendeur toute réclamation concernant les Produits commandés.
    
    En cas de réclamation d’un Acheteur concernant un Produit, y compris lorsque le Vendeur est informé de ladite réclamation par le biais de l’outil d’information mis à sa disposition dans le Service et/ou par l’envoi d’un email de Perfect Community, le Vendeur fait son affaire personnelle de la résolution du différend qui l’oppose à l’Acheteur. Les litiges sont directement réglés entre l’Acheteur et le Vendeur, le cas échéant à l’aide de l’outil de messagerie mis à leur disposition sur le Service. Le Vendeur devra faire ses meilleurs efforts pour résoudre le litige l’opposant à l’Acheteur amiablement.
    
    Néanmoins, dans le cas où le Vendeur n’aurait pas résolu le litige l’opposant à l’Acheteur dans un délai de 7 jours ouvrés à compter de la réception de la réclamation, Perfect Community se réserve le droit, après en avoir préalablement informé le Vendeur, de procéder au remboursement du Produit auprès de l’Acheteur.
    
    Si la contestation de l’Acheteur s’avère fondée, le Vendeur procèdera soit au renvoi du Produit commandé soit au remboursement.</p>

    <h3> 6.2 Réclamations relative à la livraison :</h3>
    
    <p>Toute question ou demande de précision concernant un retard ou défaut de livraison devront être transmises au Service Client de Perfect Community accessible par les moyens suivants :
    
    – Lors de la réception du ou des Produits commandés, l’Acheteur doit notifier sa réclamation à l’aide de l’outil de messagerie mis à disposition dans le cadre du Service et accessible dans l’onglet “Assistance” puis “Voir le Detail de ma Commande” puis “Déclarer un incident” et y déclarer toutes réserves sur le Produit livré (par exemple : colis endommagé, déjà ouvert…).
    – Par formulaire de contact, le Service Client de Perfect Community accusera réception de la réclamation dans les meilleurs délais.</p>


    <h3>6.3 Médiation</h3>

    <p>Le réclamant consommateur a la possibilité, si la réponse de Perfect Community ne le satisfait pas ou s’il n’a pas reçu de réponse 2 mois après le dépôt de sa réclamation, de saisir le Médiateur compétent pour tout litige concernant l’ensemble des services couverts par les présentes conditions générales de vente. La procédure de médiation est gratuite. Le Médiateur peut être saisi par les consommateurs soit directement soit par un intermédiaire (association de consommateurs, avocat, élu, autre médiateur…).</p>
   
    
    <h2>7 – Garanties des produits</h2>

    <p>Les Produits vendus sur le Site sont conformes à la règlementation en vigueur.
    
    Tous les Produits fournis par le Vendeur au travers du Service bénéficient de plein droit de la garantie légale de conformité prévue aux articles L. 211-4 à L. 211-14 du Code de la consommation et de la garantie légale des vices cachés prévues aux articles 1641 à 1649 du Code civil.
    
    Au titre de ces garanties, le Vendeur s’engage, au choix de l’Acheteur, à le rembourser ou à échanger les produits défectueux ou ne correspondant pas à sa commande.
    
    Les frais d’envoi seront remboursés sur la base du tarif facturé.
    
    Les remboursements des Produits jugés non conformes ou défectueux seront effectués dans les meilleurs délais et au plus tard dans un délai de 14 jours suivant la constatation par le Vendeur du défaut de conformité ou du vice caché. Le remboursement s’effectuera par crédit sur le compte bancaire de l’Acheteur.
    
    Indépendamment de la garantie commerciale que le Vendeur peut accorder à l’Acheteur en vertu de ses Conditions de Vente, le Vendeur reste tenu, conformément à l’article L. 211-15 du Code de la consommation, des défauts de conformité et des vices cachés du produit.</p>


    <h2>8 – Evaluation des Vendeurs</h2>

    <p>Perfect Community met à la disposition des Acheteurs des moyens leur permettant d’évaluer la performance des Vendeurs à l’issue de la confirmation de la réception du Produit commandé, permettant ainsi aux Acheteurs de sélectionner les Produits chez les Vendeurs les plus sérieux et qui respectent le mieux les conditions d’utilisation du Service.
    
     
    
    L’appréciation est réalisée suivant des critères d’évaluation et par l’attribution d’étoile(s) par les Acheteurs. A ce titre, Perfect Community n’assure aucun contrôle de l’appréciation réalisée par les Acheteurs, qu’elle se contente de stocker sur le Site. Elle peut toutefois être amenée à supprimer, sans préavis, toute appréciation dont le contenu lui aurait été signalé comme étant illicite. Les évaluations laissées par l’Acheteur, ainsi que son pseudonyme, seront visibles par tout visiteur du Site.</p>



    <h2>9 – Droit applicable</h2>

    <p>Les présentes Conditions Générales de Vente et les opérations qui en découlent sont régies et soumises au droit français.
    
    Tout litige relatif aux présentes CGV ou aux opérations de vente conclues en application des présentes sera soumis à la compétence du tribunal du lieu de domicile du défendeur ou, au choix du demandeur, du lieu de livraison effective du produit.
    
    Si l’Acheteur est le demandeur, il peut également saisir le tribunal compètent du lieu où il demeurait au moment de la conclusion du contrat ou du lieu de la survenance du fait dommageable.</p>


    <h2>10 – Données à caractère personnel</h2>

    <p>Pour les besoins du traitement des commandes, d’études marketing et statistiques et à des fins de prospections commerciales, Perfect Community requiert de l’Acheteur la communication de données nominatives telles que son identité, son adresse et ses coordonnées bancaires, qui ont un caractère obligatoire lorsqu’elles sont signalées par un astérisque.
    
    Ces données sont collectées loyalement et gérées par Perfect Community en qualité de responsable d’un traitement automatisé de données à caractère personnel ayant fait l’objet d’une déclaration conforme auprès de la CNIL (Commission Nationale Informatique et Libertés) sous le numéro 1986105. Aux fins d’assurer la bonne gestion des comptes clients, des commandes, des paiements et des réclamations, ces informations pourront être communiquées à des tiers.
    
    Pour les seuls besoins du traitement des commandes et leur livraison, l’Acheteur est informé que ses noms et prénoms, ses coordonnées postales, ainsi qu’un numéro de téléphone le cas échéant, sont transmis aux Vendeurs par Perfect Community. Les informations recueillies par le Vendeur pourront, le cas échéant, être transmises à des tiers liés aux Vendeurs chargés du traitement et de la livraison de la commande tels que le transporteur.
    
    Les Vendeurs ne sont pas autorisés, à partir des informations fournies par Perfect Community, à proposer directement à l’Acheteur des offres commerciales et s’engagent à détruire les données personnelles dès l’exécution de l’ensemble des obligations afférentes au contrat de vente et notamment aux garanties légales des Produits.
    
    Perfect Community pourra adresser à l’Acheteur les offres commerciales de son Site par le biais des moyens qu’il aura le cas échéant expressément acceptés (sms, email), et par voie postale s’il ne s’y est pas opposé. L’Acheteur conserve le droit de s’opposer à tout moment et sans frais à l’utilisation par Perfect Community de ses informations personnelles à des fins de prospection commerciale, notamment en se connectant à son compte client, en remplissant le formulaire de contact en ligne, ou en cliquant sur les liens de désabonnement figurant dans chaque courrier électronique de prospection commerciale.
    
    Conformément à la Loi Informatique et Libertés du 6 janvier 1978, l’Acheteur dispose à tout moment d’un droit d’accès, de rectification et de suppression des données le concernant et d’opposition à leur traitement. Si l’Acheteur souhaite exercer ces droits, il est invité à remplir le formulaire de contact en ligne mis à sa disposition ou à adresser sa demande par courrier à l’adresse suivante : Dans Mazon – Service Clients, 109,  Rue de la Victoire - 59000 Lille, en indiquant ses noms, prénoms, adresse postale et électronique.
    
    L’Acheteur dispose par ailleurs de la possibilité de changer ses coordonnées directement via son compte client.</p>
  
</main>
