<main>
    <div class="title">Ajouter un produit</div>
    <div class="separation"></div>
    <div class="form">
        <form #addProductForm="ngForm" method="post" (ngSubmit)="onSubmitAddP(addProductForm.value)"method="post">
            <div class="form-content">
                <label for="category">Catégorie :</label>
                <select id="category" name="category" ngModel>
                        <option value="3"selected>Poisson</option>
                        <option value="4">Viandes</option>
                        <option value="5" >Boisson</option>
                        <option value="6">Fruit</option>
                        <option value="7">Légumes</option>
                </select><br>
               
            </div>
            <div class="form-content">
                <label for="title">Nom du produit :</label>
                <input type="text" id="name" name="title" ngModel>
            </div>
            <div class="form-content">
                <label for="price">Prix :</label>
                <input type="text" id="price" name="price" ngModel>
            </div>
            <div class="form-content">
                <label for="image">Image :</label>
                <input type="file" class="file-input"
                (change)="onFileSelected($event)" #fileUpload
                >
            </div>
            <div class="form-content">
                <label for="content">Description :</label>
                <textarea id="description" name="content" rows="4" cols="23" ngModel></textarea>
            </div>
            <input type="submit" value="Valider" id="btn">
        </form>
    </div>
</main>
