<section class="comments">
    <div class="comments-extract">
        <i class="fa-solid fa-quote-left"></i>
        <p>Parfait ! Je recommande.<br>
            Écrit par Michèle, le 17/05/2022 suite à un achat le 04/05/2022 chez Fromage Gourmet</p>
        <p>bon aligo, en barquette sous vide pratique et top.<br>
            Écrit par christophe, le 17/05/2022 suite à un achat le 29/04/2022 chez Le Moulin Gourmand</p>
        <p>Produits frais et bien emballé, toujours un plaisir à déguster. Merci.<br>
            Écrit par Florentina, le 17/05/2022 suite à un achat le 04/05/2022 chez Trapon Champignons  </p>
        <i class="fa-solid fa-quote-right"></i>  
        
    </div>
    <div class="comments-content">
        <i class="fa-regular fa-star"></i>
        <p>Note générales <br> 4,1/10</p>
        <button>Voir les avis</button>
    </div>
</section>
