.comments{
    display:flex;
    justify-content:space-around;
    margin: 20px;
}

.comments-extract p{
    padding:10px;
    font-style: italic;
}

.comments-content i{
    width:50px;
    transform:translate(35px);
    margin-bottom:10px;
    font-size:35px;
    
}

.comments-content{
    height:120px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border: 3px solid;
    border-radius: 20px;
    padding: 10px 5px;
    font-weight: 600;
    opacity:0.8;
    
}

.comments-content p {
    text-align: center;
    padding:5px;
}


/* Media Queries---------------------------------------------------------- */

@media screen and (max-width: 920px) {

    .comments {
        flex-direction: column-reverse;
    }

    .comments-content{
        margin-bottom:30px;
        margin: auto;
        width:50%;
    }

    .comments-content i {
    transform:translate(70px);

    }

    .comments-extract {
        margin-top:30px;
        font-size:14px;
    }



}
