<section class="comments">
    <div class="comments-extract">
        <p>Parfait ! Je recommande.<br>
            Écrit par Michèle, le 17/05/2022 suite à un achat le 04/05/2022 chez Fromage Gourmet</p>
        <p>bon aligo, en barquette sous vide pratique et top.<br>
            Écrit par christophe, le 17/05/2022 suite à un achat le 29/04/2022 chez Le Moulin Gourmand</p>
        <p>Produits frais et bien emballé, toujours un plaisir à déguster. Merci.<br>
            Écrit par Florentina, le 17/05/2022 suite à un achat le 04/05/2022 chez Trapon Champignons</p>
    </div>
    <div class="comments-content">
        <img [src]="icon_star" alt="">
        <button>Voir les avis</button>
    </div>
</section>
