<main class="main-content">
    <h1>Mention Legales</h1>
    <h2><span>Mentions legales du site</span> DansMazon.fr</h2>
    <p>- Editeur du site : Dans Mazon Société au capital de 50 000 euros RCS Lille: 821 842 986 </p>
    <p>- Siège Social: 109 Rue de la Victoire 59000 Lille</p>
    <p>- Téléphone : 06 78 96 54 12</p>
    <p>-  Email de contact :  service-client@dans-mazon.fr</p>
    <p>– Directeur de la Publication : Marc Dumont</p>
    <p>– Hébergeur du site : Digital Ocean – https://www.digitalocean.com/</p>
    <p>– La société Dans Mazon, responsable de traitement, met en œuvre un traitement de données à caractère personnel ayant pour finalités l’achat de produits alimentaires en direct des producteurs et artisans. Vous pouvez exprimer votre accord ou refus lors de votre inscription ou à tout autre moment.</p>
    <p>Les données personnelles collectées sont destinées à Dans Mazon et à leurs prestataires et partenaires commerciaux.</p>
    <div>
        <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous bénéficiez d’un droit d’accès, de rectification, d’opposition, de suppression, de limitation, de portabilité de vos données et à ne pas faire l’objet d’une décision individuelle automatisée, y compris le profilage. Vous seul pouvez exercer ces droits sur vos propres données en vous adressant à Dans Mazon, 109 Rue de la Victoire, 59000 Lille ou à service.client@dans-mazon.com en précisant dans l’objet du courrier « Droit des personnes » et en joignant la copie de votre justificatif d’identité.</p>

        <p>Vous pouvez également nous transmettre vos directives relatives à la conservation, à l’effacement et à la communication de vos données personnelles après votre décès.</p>
            
        <p>En cas de réponse non satisfaisante, vous avez la possibilité de saisir la CNIL.</p>
        
    </div>
    
</main>