







<div class="container ">
    
    <div>
        <h1> nombre de produits </h1>
    </div>  
    
    <div class="cards">
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag1.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
        </div>
        
        
        
        
        <div class="card"> 
            
            
            <div class="photo">
                
                <img src= "./assets/photos/imag2.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
            
            
            
        </div>
        
        
        
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag3.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
        </div>
        
        
        
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag4.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
            
        </div>
        
        
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag5.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
            
        </div>
        
        
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag6.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
            
        </div>
        
        
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag7.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
            
        </div>
        
        
        <div class="card"> 
            
            <div class="photo">
                
                <img src= "./assets/photos/imag8.jpg" alt="">
                
            </div>
            
            <div class="titre">
                
                <h2>titre</h2>
                <p>  prix  </p>
                <p> Hauts-de-France </p>
            </div>
            
            
            
            
            <form>
                <input type="number" name="" id="" class="Compteur">
                <input type="submit" value="ajouter" > 
                
            </form>
        </div>
        
        
        
        
        
        
    </div>
    
    
    
</div>



