<div [ngStyle]="{ background : 'url(' + banniere + ')' }" class="banniere">
    <button>Découvrir notre catalogue</button>
</div>

<div class="btn">
    <img [src]="icone" alt="" class="icon">
</div>

<!-- Carousel--------------------------------------------------------------- -->

<app-landing-page-newproducts></app-landing-page-newproducts>

<!-- Best products--------------------------------------------------------------------- -->

<app-landing-page-bestsell></app-landing-page-bestsell>


<!-- Les Services ----------------------------------------------------------------------->

<app-landing-page-services></app-landing-page-services>

<!-- Les commentaires----------------------------------------------------------------- -->

<app-landing-page-comments></app-landing-page-comments>