<div [ngStyle]="{ background : 'url(' + banniere + ')' }" class="banniere">
    <button>Découvrir notre catalogue</button>
</div>

<div class="new-product">
    <div class="new-product-title">
        <h2>Nos nouveaux arrivage</h2>
        <button>Plus de produits</button>
    </div>
   
    <div class="new-product-picture">
        <img class="arrow" [src]="arrow_g" alt="" >
        <img class="product" [src]="clementine" alt="" >
        <img class="product" [src]="carrots" alt="" >
        <img class="product" [src]="chicken" alt="" >
        <img class="product" [src]="sausages" alt="" >
        <img class="arrow" [src]="arrow_d" alt="" >
    </div>
    <button class="new-product-button">
        Ajouter au panier
    </button>
   
</div>

