/* banniere--------------------------------------------------------------------------------- */

.banniere {
    margin:auto;
    width: 90%;
    height:300px;
    text-align: center;
    
}

.banniere button {
    cursor:pointer;
    border-radius: 10px;
    font-size: 28px;
    padding: 10px;
    transform: translate(0, 150px);
    background-color:rgba(226, 226, 112, 0.5);   
}

.btn{
    height:50px;
    width:50px;
    background-color:rgb(109, 109, 170);
    cursor:pointer;
    position:fixed;
    right:10px;
    bottom:30px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon {
    width:20px;
}

/* Caroussel--------------------------------------------------------------------------------------- */





/* Services------------------------------------------------------------------- */

