<div [ngStyle]="{ background : 'url(' + banniere + ')'  }" class="banniere">
    <button (click)="onShowProducts()">Découvrir notre catalogue</button>
</div>



<!-- Carousel--------------------------------------------------------------- -->

<app-landing-page-newproducts></app-landing-page-newproducts>

<!-- Best products--------------------------------------------------------------------- -->

<!-- <app-landing-page-bestsell></app-landing-page-bestsell> -->


<!-- Services ----------------------------------------------------------------------->

<app-landing-page-services></app-landing-page-services>

<!-- Comments----------------------------------------------------------------- -->

<app-landing-page-comments></app-landing-page-comments>