<section class="section">
    
    <div class="section-content">
        <button (click)="sendData()" ><img [src]="meat" alt=""></button>
    </div>
    <div class="section-content" >
        <a href="#"><img [src]="fish" alt=""></a>
    </div>
    <div class="section-content">
        <a href="#"><img [src]="drink" alt=""></a>
    </div>
    <div class="section-content">
        <a href="#"><img [src]="fruit" alt=""></a>
    </div>
    <div class="section-content">
        <a href="#"><img [src]="vegetable" alt=""></a>
    </div>

</section>




