<div class="new-product-picture">
  <div class="product-content">
    
    <img class="product-image" [src]=product.imageFileName alt="product.title" />
    <a class="infos" [routerLink]="['/produits', product.id]"><img (click)="onShowProduct()" src="./assets/logo_icon/infos.svg" alt=""></a>
    <h2>{{ product.title }}</h2>
    <p>{{ product.price }}€</p>
    
    <button (click)="addToCart(product.id)" class="new-product-button">
      Ajouter <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
  </div>
</div>

