<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li><a routerLink="">Accueil</a></li>
        <li><span aria-current="page">Panier</span></li>
    </ul>
</nav>

<!-- FILE ARIANE------------------------------------------------ -->


<main class="main">
    <section class="title">
        <h1>Mon panier</h1>
        <h2>Produit</h2>
        <h2>Prix</h2>
        <h2>Quantité</h2>
        <h2>Total</h2>
    </section>
    <p>*Les articles dans le panier ne sont pas réservés </p>
    <section class="content">
        <div class="picture">
            <img src="./assets/photos/produit_1.jpg" alt="">
            <div>
                <p><i class="fa-solid fa-trash-can"></i>Supprimer</p>
            </div>
        </div>
        <p>Produit1</p>
        <p>13,50€</p>
        <p>1</p>
        <p>13,50€</p>
    </section>
    <section class="content">
        <div class="picture">
            <img src="./assets/photos/produit_2.jpg" alt="">
            <div>
                <p><i class="fa-solid fa-trash-can"></i>Supprimer</p>
            </div>
        </div>
        <p>Produit1</p>
        <p>13,50€</p>
        <p>1</p>
        <p>13,50€</p>
    </section>
    <section class="count">
        <div class="count-content">
            <h3>Livraison :</h3>
            <h3>Total :</h3>
        </div>
    </section>
    <section class="payment-mode">
        <h2>Mode de paiement disponible</h2>
        <p class="payment-service">Carte Visa <i class="fa-brands fa-cc-stripe"></i></p> 
        <h2>Mode de livraison disponible</h2>
        <p class="payment-service">Chronofresh <i class="fa-solid fa-truck-fast"></i></p>
        <p class="payment-service">Click-and-Collect <i class="fa-solid fa-computer-mouse"></i></p> 
    </section>
    <div class="btn">
        <button (click)="onContinueByPayment()">Allez à la caisse <i class="fa-solid fa-arrow-right"></i> </button>
    </div>
    
</main>
